<?xml version="1.0"?>
<!--
/**
 * Custom_Newsletter
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Newsletter\Controller\Subscriber\NewAction" type="Custom\Newsletter\Override\Newsletter\Controller\Subscriber\NewAction" />
</config>
